*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.form-container{
    width: 100%; 
}
form{
    height: 100vb;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    
}
form h2{
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
}
.form-group{
    padding: 8px 0;
}
.form-group label{
    font-size: 1rem;
    padding-bottom: 20px;
}
.form-group input{
    width: 18rem;
    height: 1.5rem;
    border:none ;
    border-bottom: 2px solid black;
    outline: none;
    cursor: pointer;
    background-color: none;
}   
.form-group input:hover{
    border-bottom: 2px solid black;
    width: 18.5rem;
}
textarea{
    width: 18rem;
}
.add-form-group{
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
#cheackbox label{
    padding: 10px;
}

.cheackbox-group input{
    padding: 15px;
}
.btn-section{
    justify-content: center;   
    
}
.btn-section button{
    margin-left: 50px;
    cursor: pointer;
}
button:hover{
    width: 80px;
}